@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "Calligraffitti";
  src: url("./Fonts/Calligraffitti-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  padding-top: 100px;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.6;
  color: #555555;
  text-align: center;
}

.frestyle-txt {
  font-family: 'Calligraffitti';
  font-size: 40px;
}

@media (max-width: 1025px) {
  .frestyle-txt {
    font-size: 35px;
  }
}

@media (max-width: 780px) {
  .frestyle-txt {
    font-size: 25px;
  }
}

@media (max-width: 541px) {
  .frestyle-txt {
    font-size: 20px;
  }
}

.white-txt {
  color: #ffffff;
}

h2, h3 {
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
}

@media (max-width: 541px) {
  h2 {
    font-size: 24px;
    padding: 0px 20px;
  }
}

.bold {
  font-weight: 700;
}

.bolder {
  font-weight: 600;
}

.grey {
  color: #999999;
  margin-top: 10px;
}

header {
  top: 0px;
  position: fixed;
  height: 100px;
  width: 100%;
  position: -webkit-sticky;
  background-color: #ffffff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

@media (max-width: 541) {
  header .logo {
    justify-self: flex-start;
  }
}

header .menu {
  display: inline;
  list-style: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 690px) {
  header .menu {
    display: none;
  }
}

header .menu li {
  margin-right: 20px;
}
.menu li:hover {
	color: #5363db;
}

.bg1 {
  background: url("../img/bg-01.jpg") center no-repeat;
  background-size: cover;
}

.bg2 {
  background: url("../img/bg-02.jpg") center no-repeat;
  background-size: cover;
}

.bg3 {
  background: url("../img/bg-03.jpg") right no-repeat;
  background-size: cover;
}

.login_div {
  background: center rgba(83, 99, 219, 0.8);
  background-size: cover;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 8%;
}

@media (max-width: 541px) {
  .login_div {
    padding: 12% 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.login_div .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding-left: 5%;
  max-width: 600px;
}

@media (max-width: 541px) {
  .login_div .text {
    text-align: center;
  }
}

.login_div .text h2 {
  font-size: 67px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1025px) {
  .login_div .text h2 {
    font-size: 50px;
  }
}

@media (max-width: 780px) {
  .login_div .text h2 {
    font-size: 37px;
  }
}

@media (max-width: 541px) {
  .login_div .text h2 {
    font-size: 30px;
    padding: 20px 0;
  }
}

.login_block {
  background-color: white;
  border-radius: 20px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 280px;
  max-width: 350px;
  min-height: 391px;
  max-height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 20px;
  -webkit-box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.15);
}

.login_block h3 {
  color: #5363db;
  font-size: 2em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.login_block input {
  background-color: #f2f2f2;
  color: #888888;
  height: 50px;
  border-radius: 5px;
}

.login_block select {
  background-color: #f2f2f2;
  color: #888888;
  height: 50px;
  border-radius: 5px;
}

.login_block input[type='submit'] {
  background-color: #5b6ceb;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  height: 50px;
  width: 170px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.programs_div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  padding: 8% 0;
}

.programs_div h2 {
  margin-bottom: 20px;
  color: #5b6ceb;
}

.flex_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 2%;
}

@media (max-width: 541px) {
  .flex_container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.program_block {
  margin: 10px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  min-width: 280px;
  min-height: 350px;
  -webkit-box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

@media (max-width: 541px) {
  .program_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: justify;
    margin: 20px;
  }
}

.program_block .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
}

@media (max-width: 541px) {
  .program_block .text {
    padding: 30px;
  }
}

.program_block h3 {
  font-size: 1.4em;
  color: #777777;
  font-weight: 700;
  margin-bottom: 10px;
}

.program_block .img_prog {
  -ms-flex-item-align: start;
      align-self: flex-start;
  left: 0;
  min-width: 50%;
  height: 100%;
  overflow: hidden;
  background: yellow;
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

@media (max-width: 541px) {
  .program_block .img_prog {
    min-width: 100%;
    min-height: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
}

.program_block .img1 {
  background: center no-repeat url("../img/img-01.jpg");
  background-size: cover;
}

.program_block .img2 {
  background: center no-repeat url("../img/img-02.jpg");
  background-size: cover;
}

.program_block .img3 {
  background: center no-repeat url("../img/img-03.jpg");
  background-size: cover;
}

.program_block .img4 {
  background: center no-repeat url("../img/img-04.jpg");
  background-size: cover;
}

.img_div {
  width: 100%;
}

.img_div .img_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.img_div .img_container img {
  width: 25%;
}

.about_div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.about_container {
  width: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .about_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 610px) {
  .about_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.about_container .img_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  -webkit-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 300px;
  max-width: 570px;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
}

.about_container .img_block img {
  -ms-flex-negative: 1.5;
      flex-shrink: 1.5;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 300px;
}

@media (min-width: 1000px) {
  .about_container .img_block img {
    max-height: none;
  }
}

@media (max-width: 1000px) {
  .about_container .img_block img {
    max-height: 220px;
  }
}

@media (max-width: 780px) {
  .about_container .img_block img {
    max-height: 200px;
  }
}

.about_container .text_block {
  max-width: 600px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin: 10px;
}

.about_container .text_block h2 {
  color: #5b6ceb;
  font-weight: 700;
  margin-bottom: 20px;
}

.promises_div {
  width: 100%;
  height: 100%;
  background: cover url("../img/bg-02.jpg");
  background-color: rgba(83, 99, 219, 0.8);
  padding: 10% 10px;
}

.promises_continer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.promise_block {
  margin: 10px;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promise_block h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.promise_block .promise_img_block {
  margin: 10px 0;
  min-width: 50px;
  min-height: 50px;
  width: 70px;
  height: 70px;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.prices_div {
  padding: 10% 10px;
}

.prices_div .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prices_div .price_block {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-width: 300px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-shadow: 6px 6px 50px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 6px 50px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 10px;
  margin-top: 20px;
  padding-bottom: 3%;
}

.prices_div .price_block input[type='button'] {
  background-color: #5b6ceb;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  border-radius: 25px;
  height: 50px;
  width: 170px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.prices_div .price_block p {
  text-transform: uppercase;
  margin: 20px 0;
}

.prices_div .price {
  height: 20%;
  width: 100%;
  background-color: #5b6ceb;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.prices_div .price p {
  color: #ffffff;
  font-size: 1.2em;
}

.prices_div .price .dolar {
  font-size: 2.1em;
  font-weight: 700;
  color: #ffffff;
}

.prices_div .price span > span {
  font-size: 2.5em;
  color: #ffffff;
}

.prices_div .price .dolar::before {
  content: '$  ';
}

.about_contact {
  background-color: #5b6ceb;
  padding: 5% 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.about_contact h3 {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 700;
}

@media (max-width: 780px) {
  .about_contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about_contact .about_block {
  text-align: left;
  margin: 20px 10px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.about_contact .fas, .about_contact .far, .about_contact .fab {
  font-size: 18px;
}

.about_contact .SN_icons {
  margin: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 150px;
  max-width: 300px;
}

.about_contact .contact_block {
  text-align: left;
  margin: 20px 10px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about_contact .contact_block .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_contact .contact_block .contacts_item {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  min-width: 150px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_contact .contact_block .contacts_item p {
  padding-left: 20px;
}

Footer {
  background-color: #5363db;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

@media (max-width: 786px) {
  Footer {
    height: 50px;
  }
}
