TASK
TASK/input/320_Yoga.jpg
TASK/input/768_Yoga.jpg
TASK/input/FREESCPT.TTF
TASK/input/FREESCPT.css
TASK/input/FREESCPT.zip
TASK/input/Read Me.txt
TASK/input/demo-files/demo.css
TASK/input/demo-files/demo.js
TASK/input/demo.html
        new file:   TASK/input/fonts/FREESCPT.eot
        new file:   TASK/input/fonts/FREESCPT.svg
        new file:   TASK/input/fonts/FREESCPT.ttf
        new file:   TASK/input/fonts/FREESCPT.woff
        new file:   TASK/input/fonts/FREESCPT.woff2
        new file:   TASK/input/fonts/icomoon.eot
        new file:   TASK/input/fonts/icomoon.svg
        new file:   TASK/input/fonts/icomoon.ttf
        new file:   TASK/input/fonts/icomoon.woff
        new file:   TASK/input/icomoon.zip
        new file:   TASK/input/images.zip
        new file:   TASK/input/images/avatar-01.jpg
        new file:   TASK/input/images/avatar-02.jpg
        new file:   TASK/input/images/bg-01.jpg
        new file:   TASK/input/images/bg-02.jpg
        new file:   TASK/input/images/bg-03.jpg
        new file:   TASK/input/images/ico-01.png
        new file:   TASK/input/images/ico-02.png
        new file:   TASK/input/images/ico-03.png
        new file:   TASK/input/images/ico-04.png
        new file:   TASK/input/images/ico-05.png
        new file:   TASK/input/images/ico-06.png
        new file:   TASK/input/images/ico-07.png
        new file:   TASK/input/images/ico-08.png
        new file:   TASK/input/images/img-01.jpg
        new file:   TASK/input/images/img-02.jpg
        new file:   TASK/input/images/img-03.jpg
        new file:   TASK/input/images/img-04.jpg
        new file:   TASK/input/images/img-05.jpg
        new file:   TASK/input/images/img-06.jpg
        new file:   TASK/input/images/img-07.jpg
        new file:   TASK/input/images/img-08.jpg
        new file:   TASK/input/images/img-09.jpg
        new file:   TASK/input/images/img-10.jpg
        new file:   TASK/input/images/img-11.jpg
        new file:   TASK/input/images/img-12.jpg
        new file:   TASK/input/images/img-13.jpg
        new file:   TASK/input/images/logo.png
        new file:   TASK/input/selection.json
        new file:   TASK/input/slick-1.8.1.zip
        new file:   TASK/input/slick-1.8.1/.gitignore
        new file:   TASK/input/slick-1.8.1/CONTRIBUTING.markdown
        new file:   TASK/input/slick-1.8.1/ISSUE_TEMPLATE.md
        new file:   TASK/input/slick-1.8.1/LICENSE
        new file:   TASK/input/slick-1.8.1/Makefile
        new file:   TASK/input/slick-1.8.1/README.markdown
        new file:   TASK/input/slick-1.8.1/bower.json
        new file:   TASK/input/slick-1.8.1/component.json
        new file:   TASK/input/slick-1.8.1/index.html
        new file:   TASK/input/slick-1.8.1/package.json
        new file:   TASK/input/slick-1.8.1/slick.jquery.json
        new file:   TASK/input/slick-1.8.1/slick/ajax-loader.gif
        new file:   TASK/input/slick-1.8.1/slick/config.rb
        new file:   TASK/input/slick-1.8.1/slick/fonts/slick.eot
        new file:   TASK/input/slick-1.8.1/slick/fonts/slick.svg
        new file:   TASK/input/slick-1.8.1/slick/fonts/slick.ttf
        new file:   TASK/input/slick-1.8.1/slick/fonts/slick.woff
        new file:   TASK/input/slick-1.8.1/slick/slick-theme.css
        new file:   TASK/input/slick-1.8.1/slick/slick-theme.less
        new file:   TASK/input/slick-1.8.1/slick/slick-theme.scss
        new file:   TASK/input/slick-1.8.1/slick/slick.css
        new file:   TASK/input/slick-1.8.1/slick/slick.js
        new file:   TASK/input/slick-1.8.1/slick/slick.less
        new file:   TASK/input/slick-1.8.1/slick/slick.min.js
        new file:   TASK/input/slick-1.8.1/slick/slick.scss
        new file:   TASK/input/specification.txt
        new file:   TASK/input/style.css
        new file:   TASK/input/yoga-mainpage.jpg
        new file:   TASK/input/yoga-mainpage.psd
